.gallery_area {
  padding: 0 50px;
  padding-top: 90px;
  @media #{$mobile_device} {
    padding: 0;
  }
  .single_gallery {
    // margin: 4px;
    height: 410px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    position: relative;
  }
  .grid-item {
    overflow: hidden;
    padding: 4px !important;
  }
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
